/* Importation de fichier fonts.css */
@import "fonts.css";

/* tous les éléments de la page utilisent la boîte de modèle "border-box",
ce qui facilite le calcul des dimensions des éléments. */
* {
    box-sizing: border-box;
}

/************* Structure générale du site ***********/
body {
    /* Couleur d'arrière-plan et couleur du texte */
    background-color: #fdfffc;
    /* Couleur du texte */
    color: #011627;
    /* Tailles du texte */
    font-size: 100%;
    /* Hauteur de ligne */
    line-height: 1.4;
    /* Police du texte */
    font-family: 'Open Sans', sans-serif;
    /* épaisseur de texte */
    font-weight: 400;
    /* la marge extérieure du corps de la page doit être nulle.
    Le contenu de la page commence directement au bord de l'élément <body>, sans aucune marge supplémentaire */
    margin: 0;
}

h1,
h2,
h3 {
    /* Police des titres */
    font-family: 'Changa One', serif;
    /* épaisseur des titres */
    font-weight: 400;
}

h1 {
    /* Tailles des titres de niveau 1 */
    font-size: 2rem;
    /* Marge extérieure en bas */
    margin-bottom: 1em; /* margin: 0 0 1em 0; */
}

h2 {
    /* Tailles des titres de niveau 2 */
    font-size: 1.5rem;
    /* Marge extérieure en bas */
    margin-bottom: 0.75em; /* margin: 0 0 .75em 0; */
}

/* Hauteur de ligne des paragraphes */
p {
    line-height: 1.5;
}

/* Styles des liens */
a {
    /* Couleur des liens */
    color: #e71d36;
    /* Les liens du site ne sont pas soulignés */
    text-decoration: none;
}

/********** Entête du site **********/
header {
    text-align: center;
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

/* Logo texte */
header .nom {
    color: #2ec4b6;
    font-family: 'Changa One', sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 0.8;
    margin: 1em 0;
}

header .metier {
    margin-top: -5px;
}

/* Menu de navigation */
header nav {
    padding: 10px 0;
    margin-top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0 10px;
}

header nav ul li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
/* Cache le 1er li de la ul */
header nav ul li:first-child {
    display: none;
}

header nav ul li a {
    color: #fdfffc;
    font-weight: 800;
    margin-right: 30px;
    padding: 15px 10px;
}

header nav ul li a:hover {
    color: #2ec4b6;
}

/********** Contenu principal du site *********/
main {
    margin: 0 5%;
}

main .profile-photo {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
}

main h1 {
    margin-top: 20px;
    text-align: center;
}

main p {
    text-align: left;
    margin-left: 500px;
}

/******** Pied de page du site */
footer {
    padding-top: 50px;
    text-align: center;
}

footer nav ul {
    padding: 0;
}

footer nav ul li {
    list-style-type: none;
    display: inline-block;
}

footer nav ul li img {
    width: 50px;
    margin: 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}

footer nav ul li img:hover {
    filter: grayscale(0);
}